.footer {
  border-top: $gray-medium rem(20) solid;
  background-color: $off-black;
  color: white;
  padding-top: rem(20);
  padding-bottom: rem(20);

  @include mobilefirst($bp-lg) {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}

.footer .brand-line {
  @include mobilefirst($bp-lg) {
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: " ";
      display: block;
      flex: 1;
      border-top: $accent-color-1 rem(2) solid;
      width: 100%;
      height: rem(2);
    }

    > ul {
      border-left: $accent-color-1 rem(2) solid;
      border-right: $accent-color-1 rem(2) solid;
    }
  }
}

.footer a,
.footer a:hover,
.footer a:active {
  color: $accent-color-1;
}

.footer__copyright {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;

  @include mobilefirst($bp-lg) {
    display: flex;
    justify-content: center;
    padding-left: rem(20);
    padding-right: rem(20);

    li:not(:last-of-type)::after {
      content: "|";
      margin-left: rem(10);
      margin-right: rem(10);
    }
  }
}

.footer__copyright .school-address span {
  display: block;
  width: 100%;

  @include mobilefirst($bp-med) {
    display: inline;
  }
}
