/*********************
GENERAL STYLES
*********************/
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 1.125em;
	line-height: 1.5;
	color: $gray-dark;
	background-color: $gray-light;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Display fonts when ready
.fonts-loaded body {
    font-family: $sans-serif;
}
