/*************************
PAGE SPECIFIC STYLES
*************************/

.single-header__title,
.page-header__title,
.post-header__title {
	margin: 0;
}

.page .editor-content,
.error404 .editor-content {
	max-width: rem(700);
	margin-right: auto;
	padding-top: rem(20);
	padding-bottom: rem(20);

	@include mobilefirst($bp-med) {
		padding-top: rem(40);
		padding-bottom: rem(40);
	}
}
