/*************************
PAGE SPECIFIC STYLES
*************************/

.single-header__title,
.page-header__title,
.post-header__title {
	margin: 0;
}

.page-title {
	background-color: $gray-dark;
	background-size: cover;
	background-position: center center;
	color: white;
	padding-top: rem(40);
	padding-bottom: rem(40);

	@include mobilefirst($bp-med) {
		padding-top: rem(140);
		padding-bottom: rem(80);
	}
}

// Set up default responsive page header image
@media screen and (min-width: 1200px) {
	.page-title {
		background-image: url('../images/section-background.jpg');
	}
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
	.page-title {
		background-image: url('../images/section-background.jpg');
	}
}
@media screen and (max-width: 800px) {
	.page-title {
		background-image: url('../images/section-background.jpg');
	}
}

.page-title h1,
.page-title span, {
	display: block;
	max-width: $wrap-md;
	margin-right: auto;
}

.page-title h1 {
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
}

.page-title span {
	font-weight: 300;
}

.page-title hr {
	width: rem(80);
	margin: rem(10) auto rem(10) 0;
	border: none;
	border-top: $accent-color-1 rem(4) solid;
}

.bg-seal {
	background-image: url('../images/alvu-seal-black.svg');
	background-size: rem(514) rem(514);
	background-repeat: no-repeat;
	background-position: left rem(-80) bottom rem(-140);
	background-clip: border-box;

	@include mobilefirst($bp-med) {
		background-position: left 15% bottom rem(-140);
	}
}

@include mobilefirst($bp-lg) {
	.degrees > .wrap-lg {
		display: flex;
		flex-flow: row nowrap;
	}

	.degrees .page-content {
		width: 66.6%;
		padding-right: rem(40);
	}

	.degrees .sidebar {
		margin-top: rem(-220);
		width: 33.3%;
	}
}

.page .editor-content,
.error404 .editor-content {
	max-width: rem(700);
	margin-right: auto;
	padding-top: rem(20);
	padding-bottom: rem(20);

	@include mobilefirst($bp-med) {
		padding-top: rem(40);
		padding-bottom: rem(40);
	}
}

// Sections

.degrees {
  padding-top: rem(20);
  padding-bottom: rem(40);

	@include mobilefirst($bp-med) {
		padding-top: rem(40);
	  padding-bottom: rem(80);
	}

	h2 {
		font-size: em(24);
		font-weight: 700;
	}
}

.advantage {
  padding-top: rem(60);
  padding-bottom: rem(60);
  background-color: $primary-color;
  color: white;

	> h2 {
		font-weight: 700;
		margin-bottom: rem(20);

		@include mobilefirst($bp-med) {
			text-align: center;
		}
	}

	> p {
		margin-bottom: rem(20);

		@include mobilefirst($bp-med) {
			text-align: center;
			margin-bottom: rem(60);
		}
	}
}
