blockquote {
  font-size: em(16);
  line-height: 1.25;
  /* 25px / 20px */
  border-left: 4px solid gray;
  padding-left: 1em;

    @include mobilefirst($bp-med) {
        font-size: em(24);
        line-height: 1.45833333;
    }
}

figure, figcaption {
    display: block;
    font-style: italic;
    font-size: .9em;
    color: gray;
    text-align: center;
}

.quote {
   padding: 1.5em;
   background: gray;
   position: relative;
   border-radius: .5em;

    &:before {
        position: absolute;
        top: 99.8%;
        right: 2em;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 30px 0;
        border-color: transparent gray transparent transparent;
    }
}
