/******************************************************************
Button Styles
******************************************************************/

/// BASE BUTTON
/// @example
///     @include buton($color);
/// @param {variable} $btn-color [$link-color] - Background Button Color

@mixin button() {
  display: inline-block;
  position: relative;
  font-family: $sans-serif-condensed;
  text-decoration: none;
  color: white !important;
  font-size: rem(17);
  line-height: 34px;
  font-weight: normal;
  letter-spacing: rem($text-condensed-spacing);
  padding: rem(13) rem(15);
  border: 0;
  cursor: pointer;
  transition: background-color 0.14s ease-in-out, box-shadow 0.14s ease-in-out;
  background: $primary-color;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.40);
  text-transform: uppercase;

  // hovering on the btn
  &:hover, &:focus {
    color: white;
    text-decoration: none;
    outline: none;
    background: $primary-color-dark;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.1);
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

// Regular Button
.button {
  @include button();
}

// Small Button
.button--sm {
	font-size: rem(15);
	padding: rem(4) rem(10);
}

.button--accent-1 {
  background-color: $accent-color-1;

  &:hover, &:focus {
    background-color: $accent-color-1-dark;
  }
}

.button--white {
  background-color: #fff;
  color: $gray-dark !important;

  &:hover, &:focus {
    background-color: $gray-light;
  }
}
