.icon {
  display: flex;
  align-items: center;
	fill: currentColor;
}

.icon.inline {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}

.icon.inline > svg {
	height: 1em;
  width: 1em;
}

.icon.inline > svg {
	bottom: -0.05em;
	position: absolute;
}

.icon.inline.lg,
.icon.inline.lg > svg {
	height: 2em;
	width: 2em;
}
